header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 230px;
  position: sticky;
  top: 0;
  background-color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
header ul li {
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(62, 108, 62);
}
header h1 {
  color: rgb(62, 108, 62);
}
.fa {
  padding: 10px;
  border-radius: 50px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-twitter {
  background: #229ec0;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  background-color: darkolivegreen;
  margin-bottom: -10px;
  padding: 20px;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
.nav1 ul,
.nav2 ul,
.nav3 ul {
  list-style-type: none;
}
footer a:hover {
  text-decoration: underline;
}
